<a href="https://colab.research.google.com/github/JoaoVBorges-web/CodePatronum/blob/main/Trabalho_Ciencia_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1-Leitura de dados com `pandas`

In [103]:
#Importação do Pandas e Numpy
import pandas as pd
import numpy as np

In [104]:
#Importação da Base de dados a ser utilizada
df = pd.read_excel('/content/DadosVendaCarros.xlsx')

In [115]:
#Verificar base de dados
df.head()

,DataNotaFiscal,Fabricante,Estado,ValorVenda,ValorCusto,TotalDesconto,CustoEntrega,CustoMaoDeObra,NomeCliente,Modelo,Cor,Ano
0,2016-04-10,Rolls Royce,São Paulo,95000,50000,500.0,750,750,Aldo Motors,Camargue,Vermelho,1970-01-01 00:00:00.000002016
1,2016-01-01,Aston Martin,São Paulo,120000,75000,0.0,1500,550,Honest John,DBS,Azul,1970-01-01 00:00:00.000002016
2,2016-02-02,Rolls Royce,São Paulo,88000,75000,750.0,1000,550,Bright Orange,Prata Ghost,Verde,1970-01-01 00:00:00.000002016
3,2016-03-03,Rolls Royce,São Paulo,89000,88000,0.0,1000,550,Honest John,Prata Ghost,Azul,1970-01-01 00:00:00.000002016
4,2016-04-04,Rolls Royce,São Paulo,92000,62000,0.0,1500,550,Wheels'R'Us,Camargue,Prata,1970-01-01 00:00:00.000002016

In [ ]:
#Leitura de Dados
df.info()

2-Manipulação e limpeza de dados com `pandas`

Obs: Nossa base de dados utilizada nao possui nenhum campo nulo, sendo assim , nao realizamos a limpeza dos campos

In [117]:
#Alteração no tipo do campo.
df['DataNotaFiscal'] = pd.to_datetime(df['DataNotaFiscal'])
df['Ano'] = pd.to_datetime(df['Ano'])

In [ ]:
#Verificar dados nulos
df.isnull()

In [ ]:
#Verificar dados nulos para cada coluna
df.isnull().sum()

In [ ]:
#Remove os dados nulos ecnontrados
shape_before = df.shape[0]
shape_curr = df.dropna().shape[0]
print("texto escolhido".format(shape_before))

In [ ]:
#Usamos para substituição dos dados caso seja nulo na coluna que digitarmos
df.fillna('')

In [ ]:
#Mostra se existe dados duplicados na nossa base
df.duplicated()

3-Descritivo e exploração de dados com pandas `(groupbys)`

In [ ]:
#Usando Groupby

df[['Fabricante','Modelo','ValorCusto']].groupby(['Fabricante','Modelo']).mean()